*{
    margin: 0%;
    font-family: arial;
    border: border-box;
}
.Header{
    background-color: rgb(0, 0, 0);
    display: flex;
    color: rgb(234, 255, 0);
    height: 45px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    overflow: hidden;
}
.Header-Content{
    animation: HeaderSpin 17s ease-in 0s infinite; 
    /* animation He Move to End */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: default;
}
@keyframes HeaderSpin{
    0% {
        transform: translatex(-950px);
    }
    100% {
        transform: translatex(900px);
    }
}
.Logo-Container{
    display: flex;
    justify-content: space-between;
}


.Logo{
    font-family: monospace;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 35px;
    position: relative;
    top: 25px;
}
#Search-icon{
    font-size: 1.5rem;
    position: relative;
    top: 50px;
    color: black;
    left: 30px;
}
a:visited{
    color: black;
}
.Search-Container{
    background-color: #ffe693;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.Search-border{
    width: 800px;
    background-color: white;
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    border: 1.5px solid black;

}
.Search-box{
    width: 750px;
    height: 35px;
    font-size: 18px;
    border: none;
}
.Search-box:focus{
    outline: none;
}
#Search-icon-btn{
    font-size: 1.25rem;
    position: relative;
    top: 7px;
    right: -5px;
}
#Cancel-btn{
    font-size: 1.25rem;
    color: black;
    position: absolute;
    top: 154px;
    left: 1040px;
}


#Cart-icon{
    font-size: 1.5rem;
    position: relative;
    top: 50px;
    right:30px;
}
.Nav-bar{
    display: flex;
    justify-content: center;
    position: relative;
    top: 60px;
    gap: 20px;
}
button{
    background-color: white;
    border: none;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
    cursor: pointer;
}
Button::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.5s ease;
}
Button:hover::after{
    width: 100%;
}
ul {
    list-style: none;
    margin-left: -40px;
}
ul li ul.Dropdown{
    position: absolute;
    z-index: 2;
    display: none;
}
ul li:hover ul.Dropdown{
    display: block;
}
.Dropdown-btn{
    width: 150px;
    text-align: start;
}
.Banner{
    display: flexx`;
    top: 250px;
    justify-content: center;
    align-items: center;
}
 .container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  height: 500px;
}
.slides {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slides img {
  width: 100%;
  height: 500px;
  position: absolute;
  object-fit: cover;
  opacity: 0;
  animation: slide 20s infinite;
}
.slides img:nth-child(1) { animation-delay: 0s; }
.slides img:nth-child(2) { animation-delay: 6.6s; }
.slides img:nth-child(3) { animation-delay: 13.33s; }

/* Animation for sliding */
@keyframes slide {
  0% {opacity: 0;}
  33% {opacity: 1;}
  66% {opacity: 0;}
  100% {opacity: 0;}
}
#Crazy-Deals{
    font-family: monospace;
    position: relative;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    top: 40px;
}
.Crazy-Deals-Container{
    display: flex;
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    top: 70px;
    justify-content: space-between;
}
.deal1{
    height: 270px;
    position: relative;
    left: 20px;
    display: flex;
    position: relative;
    cursor: pointer;
}
.deal1 img.Image-Hover{
    opacity: 0;
    position: absolute;
    width: 270px;
}
.deal1:hover img.Image-main{
    opacity: 0;
}
.deal1:hover img.Image-Hover{
    opacity: 1;
}
.Sale-btn{
    position: relative;
    left: -45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 45px;
    height: 14%;
    color: white;
}
.Product-Container{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -40px;
    font-family: monospace;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
.Product-Name h3{
    font-family: monospace;
    font-size: 20px;
}
.Product-Name p{
    font-size: 15px;
    font-family: cursive;
    text-align: center;
}
.Product-Name h5{
    color: red;
    text-align: center;
}   
.Add-To-Cart{
    background-color: black;
    color: white;
    font-family:monospace;
    font-size: 18px;
    width: 260px;
    height: 32px;
    position: relative;
    top: 5px;
}
#Coll-heading{
    position: relative;
    top: 30px;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    text-transform: uppercase;
}
.product-Collection{
    display: flex;
    position: relative;
    top: 50px;
    justify-content: center;
    height: 450px;
    width: 100%;
    overflow: hidden;
}
.img-box{
    position: relative;
    width: 23.5%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}
.img-box img{
    transition: transform 1s ease;
    cursor: pointer; 
    object-fit: cover;
    height: 100%;
    width: 100%;
} 
.img-box::after {
      content: "";
      position: absolute;
      top: 0;
      inset: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0);
      transition: background 0.6s ease;
    }
.img-box:hover img{
     transform: scale(1.05);
}
.img-box:hover::after {
      background: rgba(0, 0, 0, 0.3); 
    }
